<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT 1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>WebSocket - CHAT 1</h1>

    <form id="formulario">
        <input type="text" id="input" placeholder="message" style="width: 50%; height: 40px; font-size: 30px;">
        <button type="submit">Evento</button>
    </form>

    <div id="mensagens"></div>
    <script src="/js/chat1.js" defer></script>
</body>

</html>